html {
  width: 100vw;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  text-align: center;
}

p {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: min(20rem, 90%);
  background-color: white;
  border: solid 0px;
  border-radius: 20px;
}
